
<div class="w-50 m-auto">
    <h1 class="text-center">Login</h1>
        <form id="loginForm" action="/users/login" method="post">
            <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input name="email" type="email" id="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <label for="inputPassword5" class="form-label">Password</label>
            <input name="password" type="password" id="password" class="form-control" aria-labelledby="passwordHelpBlock">
            <div id="passwordHelpBlock" class="form-text">
            </div>
            <button type="submit" value="logIn" class="btn btn-primary mb-3 mt-3">Log in</button>
        </form>

        <h4>Log in whit Github! <button onclick="location.href='/users/authGithub'" class="btn btn-success mb-3 mt-3">Login whit Github</button></h4>
        

        <h4>If you have not registered yet  <button onclick="location.href='/views/register'" class="btn btn-success mb-3 mt-3">Sign Up NOW!</button></h4>

</div>