
<div class="w-50 m-auto">
    <h1 class="text-center">Sign up</h1>
        <form id="registerForm" action="/users/register" method="post">
            <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">First name</label>
            <input name="first_name" type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">Last name</label>
            <input name="last_name" type="text" class="form-control" id="exampleFormControlInput1" >
            </div>
            <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">Age</label>
            <input name="age" type="number" class="form-control" id="exampleFormControlInput1">
            </div>
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input name="password" type="password" id="exampleFormControlInput1" class="form-control" >
            <div class="form-text">
            </div>
            <button type="submit" value="signUp" class="btn btn-primary mb-3 mt-3">Sign up</button>
        </form>

        <p>If you have already registered, click <a href="/views/login">Sign in</a> </p>
</div>


